<p id="notice"><%= notice %></p>

<p>
  <strong>Visit action:</strong>
  <%= @event.visit_action_id %>
</p>

<p>
  <strong>Event category:</strong>
  <%= @event.event_category %>
</p>

<p>
  <strong>Event action:</strong>
  <%= @event.event_action %>
</p>

<p>
  <strong>Event label:</strong>
  <%= @event.event_label %>
</p>

<p>
  <strong>Event value:</strong>
  <%= @event.event_value %>
</p>

<p>
  <strong>Custom:</strong>
  <%= @event.custom %>
</p>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
